*{
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: #B1D4E0;
}
marquee {
    height: auto;
    overflow: hidden;
    position: relative;
    background:#2E8BC0;
    color: #333;
    border-radius: 7px;
    
}
/* Estilos para los títulos */
h1{
    

}
h2{
    clear: both;
}
h3{
    text-align: center;
    clear: both;

}
h4{
    clear: both;
}
h5{
    clear: both;
}
h6{
    clear: both;
}
p{
    clear: both;
}

/* Estilos para hr */
hr{
    clear: both;
    color: #1c2242;
}
/* Estilos para los menus */
ul#menu li a {
    
    font-size: 18px;
    text-decoration: none;
    float: left;
    padding: 10px;
    margin-left: 0px;
    background-color: #0C2D48;
    color: #fff;
    width: auto;
    height: auto;
    display: inline;
    }
ul#menu li {
     display: inline;
     float: left;
     display: inline;
    }
ul#menu {
    list-style-type: none;
    float: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0C2D48;
    border-radius: 7px;
    width: auto;
    height: auto;
    
    }
      
ul#menu li a {
        display: block;
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        display: inline;
      }
      
ul#menu li a:hover {
        background-color: rgb(255, 255, 255);
        display: inline;
      }

ul.listapacks{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
ul.listapacks li{
    width: 100%;
    clear: both;
}
ul.productosnodef{
    
    text-align: justify;
}
ul.footer li{
    margin-top: 10px;
}
ul.productosdef{
    width: auto;
    height: auto;
    text-align: justify;
    display: table;
    margin: 0 auto;
}
/* Estilos para las imagenes */
img{
    width: 300px;
    height: 110px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
img.logo{
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
img.principal{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    overflow: hidden;
    position: relative;
    border-radius: 7px;
}
img.tabla{
    max-width: auto;
    height: auto;
}
img.imgdetallada{
    float: left;
    display: block;
    width: 250px;
    height: 250px;
    border: 5px solid #B1D4E0;
    margin-right: 15px;
}


/*Estilos para los articles y sections*/

section.row {
    width: 100%;
    height: auto;
    padding: 10px;
    background-image: linear-gradient(to bottom right,#184f7c ,  #B1D4E0);
    border-radius: 7px;
}
section.rowPack {
    columns: 1;
    width: auto;
    height: auto;
    background-image: linear-gradient(180deg, #184f7c ,  #B1D4E0);
    border-radius: 7px;
}
article.columns{
    width: auto;
    height: auto;
    text-align: center;
    margin: 20px;
}
article.columnslist{
    width: auto;
    height: auto ;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
article.columnsimg{
    width: auto;
    height: auto;
    text-align: center;
}

section.columnfooter {
    clear: both;
    float: left;
    width: 33.33%;
    flex: 50%;
    width: 100%;
}
div.Packname{
    text-align: center;
}
div.Packimg{
    width: 100%;
    height: auto;
}
div.Packlist{
    text-align: center;
}

div.PackPrice{
    width: auto;
    height: auto;
}

div.galeria {
    height: calc( 300px + 3em);
    width: 260px;
    margin:1em auto;
    position: relative;
}

.galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
}

.galeria input[type=radio] {
    position: relative;
    bottom: calc(-300px - 1.5em);
    left: .5em;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(7):checked ~ img:nth-of-type(7) {
    opacity: 1;
}
/* Estilos para las tablas */

/* Estilos para los enlaces */
a:visited {
    color: #3b2870;
}
  
a:focus {
    border-bottom: 1px solid;
    background: #0C2D48;
}
  
a:hover {
    border-bottom: 1px solid;     
    background:  #0C2D48;
}
  
a:active {
    background: #0C2D48;
    color: #0C2D48;
}
/* Estilos para el footer */
footer {
    columns: 2;
    overflow: hidden;
    position: relative;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color:  #2E8BC0;
    clear:both;
    color: #fff;
    border-radius: 7px;
    width: auto;
    height: auto;
    display: block;
}
iframe.footer{
    clear: both;
    padding-left: 20px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}